.wrap
  .infos
    h1.title Memory Blocks
    h2.status How to ?
  .columns
    .row
      #1.block.block1
      #2.block.block2
    .row
      #3.block.block3
      #4.block.block4
    .row
      .inputProgress
        .circle
        .circle
        .circle
        .circle
      
.endWindow.hide
  .memoryLevel
  .restart Try Again